.jpg_in img {
    height: 150px;
    width: 200px;
}

.nav {
    height: 100px;
    background-color: rgb(205, 206, 234, 0.7);
    font-size: 20px;
    margin-bottom: 20px;
}

.nav_a {
    float: left;
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 100px;

}

.nav li {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

.nav_a a {
    text-decoration: none;
}

.nav_a a:hover {
    border-bottom: 2px solid blue;
    color: blue;
}

.nav_img {
    float: left;
    height: 100px;
    width: 100px;
}

/* 搜索 */
.search {
    float: left;
    width: 500px;
    height: 45px;
    margin-left: 100px;
    padding-top: 35px;
    padding-bottom: 25px;

}

.search input {
    float: left;
    width: 400px;
    height: 30px;
    border: 1px solid rgba(49, 115, 255, 0.933);
    border-right: 0;

}

.search button {
    float: left;
    height: 32px;
    width: 50px;
    /* background-color: blue; */
}

h1 {
    margin: 50px;
    text-align: center;
    color: rgb(251, 162, 78);
}

.guide {
    /* background-color: aliceblue; */
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.guide ul {
    float: left;
}

.guide ul li {
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}

li {
    list-style-type: none;
}

.guide ul li a {
    display: inline-block;
    color: rgba(245, 245, 245, 0.845);
    text-decoration: none;
    font-size: 20px;
    width: 300px;
    background-color: rgb(77, 75, 75);
    border-collapse: collapse;
    border-style: solid;
    padding-left: 30px;
    margin-left: 30px;
    border-radius: 20px;
}

.left {
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: black;
}

.guide ul li a:hover {
    background-color: rgb(233, 186, 98)
}

.im {
    float: left;
    width: 200px;
    height: 630px;
    margin-left: 10px;
}

.img2 {
    margin-top: 10px;
}

.img3 {
    margin-top: 10px;
}

.music {
    /* background-color: aliceblue; */
    /* width: 300px;
    height: 100px; */
    position: fixed;
    right: 10px;
    top: 20px;
}

/* .music audio {
    float: left;
} */
.footer {
    background-color: rgba(147, 165, 255, 0.4);
    clear: both;
    text-align: center;
    font-size: 20px;
    color: white;
}